[
    {lager, [
            {handlers, [{lager_console_backend, info}]},
            {crash_log, undefined}
            %, {colored, true}
        ]},

    {sasl, [{sasl_error_logger, false}]},

    {rebar, [
            {log_function, {active, rebar_log}},
            {console_log_function, {active, rebar_log}}
        ]}
].
